<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/goods_list.css">
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <script src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    <script src="__STATIC__/admin/layui/layui.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <span>管理中心-分类列表</span>
    </header>
    <div class="content">
        <button type="button" class="btn btn-info add_goods">添加分类</button>
        <table class="table table-bordered">
            <tr>
                <td>分类名称</td>
                <td>操作</td>
            </tr>
            {volist name="data" id="v"}
            <tr>
                <td style="text-align: left;">{:str_repeat('-',$v.level*4)}{$v.cate_name}</td>
                <td>
                    <a href="javascript:;" class="edit" link="{:url('admin/category/editCat','',false)}/id/{$v.id}">修改</a>
                    <a href="javascript:;">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
    </div>
</body>
</html>


<script>
//添加商品
$('.add_goods').click(function(){
    layui.use(['layer'],function(){
        layer = layui.layer;
        layer.open({
            type: 2,
            title: '添加分类',
            shadeClose: true,
            shade: 0.3,
            area: ['500px', '500px'],
            offset: '10px',
            content: '/admin/category/addCat' //iframe的url
        }); 
    }); 
});

//修改
$('.edit').click(function(){
    var url = $(this).attr('link');
    layui.use(['layer'],function(){
        layer = layui.layer;
        layer.open({
            type: 2,
            title: '修改分类',
            shadeClose: true,
            shade: 0.3,
            area: ['500px', '500px'],
            offset: '10px',
            content: url //iframe的url
        }); 
    }); 
});
 

</script>