a:hover{
    text-decoration: none;
}





/* 首页头部 */
.header{
    width: 100%;
    height: 42px;
    background-color: #333333;
}
.header .header-contriner{
    width: 1226px;
    height: 100%;
    margin: auto;
}

.header .login{
    float: right;
    line-height: 42px;
}
.header .login .login-item{
    float: left;
}
.header .login .login-item a,.header .login .login-item,.header .login .login-item span{
    color: #fff;
}

.header .cart{
    width: 120px;
    float: right;
    color: #fff;
    line-height: 42px;
    margin-left: 50px;
    background-color: #424242;
    text-align: center;
    cursor: pointer;
}
.header .cart:hover{
    background-color: #fff;
    color: orange;
}




/* 搜索 */
.search{
    width: 100%;
    height: 120px;
}
.search .search-item{
    width: 590px;
    margin: 20px auto;
}
.search .search-item .search-ipt{
    height: 40px;
    width: 550px;
    border: 3px solid orange;
    border-radius: 20px 0 0 20px;
    text-indent: 2em;
}
.search .search-item .search-icon{
    width: 40px;
    height: 40px;
    border: 3px solid orange;
    float: right;
    cursor: pointer;
}
.search .search-item .search-icon i{
    font-size: 30px;
    color: rgb(120, 120, 221);
}
.search .search-item .search-icon:hover{
    background-color: rgb(190, 190, 190);
}
.search .search-item .search-icon:hover i{
    color: #fff;
}

.search .search-best{
    width: 1226px;
    height: 50px;
    margin: auto;
    position: relative;
}
.search .search-best .search-best-ul{
    margin-left: 200px;
}
.search .search-best .search-best-ul .search-best-item{
    font-size: 20px;
    line-height: 50px;
    float: left;
    margin-left: 20px;
}
.search .search-best .search-best-ul .search-best-item:hover a{
    color: orange;
}
.search-best-content{
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    top: 49px;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
}
.search-best-content ul .search-best-info{
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}
.search-best-content ul .search-best-info p{
    text-align: center;
}
.search-best-content ul .search-best-info .search-best-info-name{
    color: black;
}
.search-best-content ul .search-best-info:hover .search-best-info-name{
    color: rgb(85, 79, 79);
}
.search-best-content ul .search-best-info .search-best-info-price{
    color: orange;
}



/* 首页内容区域 */
.main-content{
    width: 100%;
    background-color: #f5f5f5;
    min-height: 500px;
    margin-top: 25px;
}

/* 商品区域 */
.goods-module{
    width: 1226px;
    min-height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}

/* 闪购栏 */
.flashsale{
    width: 1226px;
    height: 405px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flashsale .flashsale-title{
    width: 100%;
    height: 60px;
    font-size: 25px;
    color: #333333;
    line-height: 60px;
}

.flashsale .flashsale-content .flashsale-item{
    width: 235px;
    height: 340px;
    text-align: center;
    background-color: #f1eded;
    float: left;
}
.flashsale .flashsale-content .flashsale-item .round{
    font-size: 20px;
    color: #e53934;
    margin-top: 63px;
}
.flashsale .flashsale-content .flashsale-item img{
    margin-top: 33px;
}
.flashsale .flashsale-content .flashsale-item .desc{
    margin-top: 35px;
    color: #706f9b;
}
.flashsale .flashsale-content .flashsale-item .countdown{
    margin-top: 33px;
}
.flashsale .flashsale-content .flashsale-item .countdown span{
    width: 46px;
    height: 46px;
    padding: 10px;
    background-color: #605751;
    font-size: 25px;
    color: #ffffff;
}
.flashsale .flashsale-content .flashsale-item .countdown i{
    font-size: 25px;
    font-style:normal;
}
.flashsale .flashsale-content .flashsale-slider{
    overflow: hidden;
}
.flashsale .flashsale-content .flashsale-slider .swiper-container{
    margin-left: 15px;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide{
    height: 340px;
    text-align: center;
    margin-left: 10px;
    background-color: #ffffff;
    cursor: pointer;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide:first-of-type{
    margin-left: 0;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide .content img{
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide .content .swiper-slide-attr{
    font-size: 13px;
    color: #adadad;
    margin-top: 10px;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide .content .swiper-slide-price{
    margin-top: 20px;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide .content .swiper-slide-price .now{
    color: orange;
}
.flashsale .flashsale-content .flashsale-slider .swiper-wrapper .swiper-slide .content .swiper-slide-price .past{
    color: #adadad;
    text-decoration: line-through;
}