a:hover{
    text-decoration: none;
}





/* 首页头部 */
.header{
    width: 100%;
    height: 42px;
    background-color: #333333;
}
.header .header-contriner{
    width: 1226px;
    height: 100%;
    margin: auto;
}

.header .login{
    float: right;
    line-height: 42px;
}
.header .login .login-item{
    float: left;
}
.header .login .login-item a,.header .login .login-item,.header .login .login-item span{
    color: #fff;
}

.header .cart{
    width: 120px;
    float: right;
    color: #fff;
    line-height: 42px;
    margin-left: 50px;
    background-color: #424242;
    text-align: center;
    cursor: pointer;
}
.header .cart:hover{
    background-color: #fff;
    color: orange;
}




/* 搜索 */
.search{
    width: 100%;
    height: 120px;
}
.search .search-item{
    width: 590px;
    margin: 20px auto;
}
.search .search-item .search-ipt{
    height: 40px;
    width: 550px;
    border: 3px solid orange;
    border-radius: 20px 0 0 20px;
    text-indent: 2em;
}
.search .search-item .search-icon{
    width: 40px;
    height: 40px;
    border: 3px solid orange;
    float: right;
    cursor: pointer;
}
.search .search-item .search-icon i{
    font-size: 30px;
    color: rgb(120, 120, 221);
}
.search .search-item .search-icon:hover{
    background-color: rgb(190, 190, 190);
}
.search .search-item .search-icon:hover i{
    color: #fff;
}

.search .search-best{
    width: 1226px;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
.search .search-best .search-best-ul{
    margin-left: 200px;
}
.search .search-best .search-best-ul .search-best-item{
    font-size: 20px;
    line-height: 50px;
    float: left;
    margin-left: 20px;
}
.search .search-best .search-best-ul .search-best-item:hover a{
    color: orange;
}
.search-best-content{
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    top: 49px;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
}
.search-best-content ul .search-best-info{
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}
.search-best-content ul .search-best-info p{
    text-align: center;
}
.search-best-content ul .search-best-info .search-best-info-name{
    color: black;
}
.search-best-content ul .search-best-info:hover .search-best-info-name{
    color: rgb(85, 79, 79);
}
.search-best-content ul .search-best-info .search-best-info-price{
    color: orange;
}