/* a:hover{
    text-decoration: none;
} */

/* 首页头部 */
.header{
    width: 100%;
    height: 42px;
    background-color: #333333;
}
.header .header-contriner{
    width: 1226px;
    height: 100%;
    margin: auto;
}

.header .login{
    float: right;
    line-height: 42px;
}
.header .login .login-item{
    float: left;
}
.header .login .login-item a,.header .login .login-item,.header .login .login-item span{
    color: #fff;
}

.header .cart{
    width: 120px;
    float: right;
    color: #fff;
    line-height: 42px;
    margin-left: 50px;
    background-color: #424242;
    text-align: center;
    cursor: pointer;
}
.header .cart:hover{
    background-color: #fff;
    color: orange;
}


/* log层 */
.log{
    width: 990px;
    height: 80px;
    margin: 10px auto;
}
.log>.log-left{
    width: 280px;
    height: 100%;
    float: left;
    background-color: coral;
    line-height: 80px;
    text-indent: 8em;
}
.log>.log-right{
    width: 600px;
    height: 40px;
    margin-top: 18px;
    float: right;
}
.log>.log-right>ul>li{
    width: 200px;
    height: 100%;
    float: left;
    line-height: 40px;
    background-color: #cccaca;
    border: 1px solid white;
    text-align: center;
}
.log>.log-right>ul>.cart2{
    background-color: red;
    color: #fff;
    font-weight: bold;
}



/* 订单详情 */
.ord-info{
    width: 990px;
    min-height: 200px;
    border: 1px solid #e7e3e7;
    border-top: 3px solid #ff6a6a;
    margin: auto;
}

.ord-info-heder{
    width: 100%;
    height: 40px;
    background-color: #e0dddd;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
}

.ord-info-content{
    width: 100%;
    min-height: 100px;
    padding: 0 15px;
    margin-top: 20px;
}

.ord-info-content>.address{
    margin-top: 10px;
    border-bottom: 1px solid #e0dddd;
}
.ord-info-content>.address>h3{
    font-size: 15px;
    font-weight: bold;
}
.ord-info-content>.address>.addr-info{
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #a8a8a8;
}

.goods-list>h3{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}



/* 购物车列表 */
.cart-log{
    border-bottom: 3px solid red;
}
.cart-lst{
    width: 990px;
    margin: auto;
    position: relative;
}
.shop-info{
    background-color: silver;
}
tr>td{
    text-align: center;
}

.layui-btn-danger {
    background-color: #f0021a;
}


/* 底部版权栏 */
.footer{
    width: 1226px;
    height: 200px;
    text-align: center;
    background-color: rgb(204, 203, 203);
    margin: 80px auto;
    line-height: 200px;
    font-size: 50px;
}







